<form action="{{ formAction }}" method="post">
<div class="panel-heading">
            <h1>Add Grade of the selected student</h1>  
               <br/>
            <select name="stud1">
                {% for x in semncourse %}
                <option value="{{x.roll}}">{{ x.roll}}</option>
                {% endfor %}
                </select>

               <br>
               MID1:<br>
               <input type="number" name="mid1" value = "0" min="0" max="100"><br>
               MID2: <br>
               <input type="number" name="mid2" value = "0" min="0" max="100"><br>
               ENDSEM: <br>
               <input type="number" name="endsem" value = "0" min="0" max="100"><br>
               <br/>
               <input type="submit" name="button" value="Grade"><br>
</div>
<div class = "panel-heading">
             <h1>Add Attendance</h1>
              <select name="stud2">
                {% for x in semncourse %}
                <option value="{{x.roll}}">{{ x.roll}}</option>
                {% endfor %}
                </select>


             ATTENDANCE: <br>
             <input type="number" name="attendance2" value = "00" min="0" max="100"> <br>
             <br>
             <input type="submit" name="button" value="Attendance"><br> 
</div>
<br>
<br>
<div class="panel-heading">
            <h1>Click here to view the added grades and attendance of the selected students </h1>
              <select name="stud3">
                {% for x in semncourse %}
                <option value="{{x.roll}}">{{ x.roll}}</option>
                {% endfor %}
                </select>
               <input type="submit" name="button" value="View"><br>
</div>

<br>
<br>
        <a href="/login">LOGOUT</a>

</form>
